* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background-image: url(../assets/fondo_1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    
}

.navbar {
    padding: 0px 30px;
    background-color: bisque;
    font-weight: bold;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: greenyellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    animation-name: navSlide;
    animation-duration: 2s;
}

@keyframes navSlide {
    0%   {opacity: 0%; left:0px; top:-900px;}
  100% {opacity: 100%; left:0px; top:0px;}
}

.navbar__items {
    display: flex;
    gap: 10px;
    padding: 25px;
}

.navbar__items li {
    background-color: #161616;
    padding: 15px 10px;
    border-radius: 30px;
}

.navbar img {
    height: 200px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 780px) {
    .navbar__items {
        display: none;
    }
}

.hero {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-around;
    margin: 60px 30px;
}

.hero__contenido {
    display: flex;
    flex-direction: column;
    position: relative;
    animation-name: tituloSlide;
    animation-duration: 2s;
    
}

a {
    text-decoration: none;
    color: white;
}

.hero__titulo {
    font-size: 5rem;
    margin-bottom: 25px;
    
}

@keyframes tituloSlide {
    0%   {opacity: 0%; left:-900px; top:0px;}
  100% {opacity: 100%; left:0px; top:0px;}
}
.hero__img {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

}

.hero__boton {
    padding: 20px 20px;
    width: 200px;
    border-radius: 8px;
    margin-top: auto;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: bold;
    
}

.footer {
    text-align: center;
    background-color: white;
    color: black;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: auto;
    width: 100%;
    padding: 25px;
}

.tituloProyectos {
    text-align: center;
    margin: 50px;
}

.proyecto_1 {
    background-color: #161616;
    border-radius: 4px;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.proyecto_1 a {
    background-color: white;
    color: #161616;
    font-weight: bold;
    border-radius: 8px;
    padding: 16px;
    margin-top: 20px;
}

.proyecto_2 {
    background-color: #161616;
    border-radius: 4px;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.proyecto_2 a {
    background-color: white;
    color: #161616;
    font-weight: bold;
    border-radius: 8px;
    padding: 16px;
    margin-top: 20px;
}

.proyecto_3 {
    background-color: #161616;
    border-radius: 4px;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.proyecto_3 a {
    background-color: white;
    color: #161616;
    font-weight: bold;
    border-radius: 8px;
    padding: 16px;
    margin-top: 20px;
}

.tituloServicios {
    text-align: center;
    margin: 50px;
}

.servicio_1 {
    background-color: #161616;
    border-radius: 4px;
    width: 700px;
    display: flex;
    flex-direction: column;
    margin: 80px;
}

.servicio_2 {
    background-color: #161616;
    border-radius: 4px;
    width: 700px;
    display: flex;
    flex-direction: column;
    margin: 80px;
}

.tituloIdentidad {
    text-align: center;
    margin: 50px;
}

.tituloIdentidad img {
    margin: 40px;
    width: 40%;
}

#tituloMoodboard {
    text-align: center;
}

.galeria {
    background-color: #161616;
    display: grid;
    justify-content: space-evenly;
    gap: 10px;
    grid-template-areas: "foto1 fotog fotog"
                        "foto2 fotog fotog"
                        "foto3 foto4 foto5";
}

#foto1 {
    grid-area: foto1;
}
#foto2 {
    grid-area: foto2;
}
#foto3 {
    grid-area: foto3;
}
#foto4 {
    grid-area: foto4;
}
#foto5 {
    grid-area: foto5;
}
#fotogif {
    grid-area: fotog;
    max-width: 500px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

.img_contacto {
    text-align: center;
    margin: 150px;
}